.toolbar-wrapper {
  position: relative;
  padding: 8px 80px 8px 8px;
  min-height:48px;
  background-color:rgba(0,119,200,0.08);

  .iconfont { // 图标对齐
    vertical-align: middle;
  }

  button ~ button, button + .ivu-dropdown, .ivu-upload + button {
    margin-left: 5px;
  }
  .ivu-divider + button{
    margin-left: 0!important;
  }

  .ivu-upload{
    .ivu-upload-list{
      margin-top:0;
    }
  }

  .toolbar-inner {

  }
  .ivu-divider{
    height: 1.2em;
  }
  .toolbar-wrapper-col {
    white-space: nowrap;
    overflow: hidden;
    >span~span{
      padding-left: 5px;
    }
  }

  .ivu-select-single{
    min-width: 150px;
    max-width: 250px;
  }

  .toolbar-down-button {
    position: absolute;
    top: 14px;
    right: 55px;

    .ivu-select-dropdown {
      top: 0;
      margin-top: 24px;
      max-height: 300px;
      overflow-y: auto;
    }

    .ivu-btn {
      background: none;
      border: none;
      color: #515a6e;
      &:hover, &:active{
        background-color:transparent;
        border-color:transparent;
      }
    }

    .ivu-dropdown-menu {
      height: 33px;
    }
  }

  .ivu-dropdown-item{
    min-width:60px;
    padding:0;
    button{
      width:100%;
    }
  }

  .resize-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .ivu-btn {
    padding-left: 8px;
    padding-right: 8px;
  }

  .ivu-btn ~ .ivu-btn, .ivu-btn + div, div + .ivu-btn{
    margin-left: 5px;
  }

  .ivu-btn ~ .upload-wrapper{
    .ivu-upload{
      width: 63px;
    }
  }

  .ivu-btn > .ivu-icon + span, .ivu-btn > span + .ivu-icon {
    margin-left: 0;
  }

  .resize-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .arrow-btn {
    position: absolute;
    top: 8px;
    right: 48px;
  }
}

.ivu-modal{
  .toolbar-wrapper{
    padding-right:8px;
    >button.resize-btn{
      display: none;
    }
  }
}

.modal-edit-wrapper {
  .ivu-tabs { // 使用tabs标签时，标签显示在title上
    position: static;
    .ivu-tabs-bar {
      position: absolute;
      border-bottom: none;
      top: 12px;
      left: 15%;
      width: 70%;
      margin-bottom: 0;
      .ivu-tabs-nav {
        /*width: 100%;*/
        text-align: center;
        padding-left: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
        position: relative;
        transition: transform 0.5s ease-in-out;
      }
      .ivu-tabs-tab {
        background: none;
        border: none;
        color: #fff;
      }
      .ivu-tabs-tab-active {
        border-bottom: 2px solid rgba(255, 199, 44, 1)!important;
      }
      .ivu-icon-ios-arrow-back, .ivu-icon-ios-arrow-forward { // tab前后滚动箭头
        color: #fff;
        font-size: 16px;
      }
    }
  }
  .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab{
    padding-left:12px;
    padding-right:12px;
  }
}

.bill-vertical{
  .content{
    >.content-card{
      .toolbar-wrapper{
        padding-right:8px;
        >button.resize-btn{
          display: none;
        }
      }
    }
  }
}
